.search-bar {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.search-text-input {
  width: 344px;
  padding-left: 15px;
  background: white;
  color: #000000;
  border: 1px solid #DDDDDD;
  font-weight: 300;
  height: 48px;
}

.search-button {
  margin-left: -122px;
  width: 115px;
  font-weight: 500;
  height: 36px;
}

@media only screen and (max-width: 960px) {
  .search-text-input {
    width: 312px;
  }
}
